.js-scroll__obs {
    .u-img__bg-def {
        position: relative;
        // transform: scaleX(0);
        // transform: scaleY(0);
        // transform-origin: top;
        // transform-origin: left;
        &::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            background-color: $color-key;
            // transform: scaleX(1);
            // transform: scaleY(1);
            transform: scaleX(1);
            // transform-origin: top;
            transform-origin: left;
            opacity: 1;
        }
    }
    .c-ttl__obs {
        display: inline-block;
        transform: translateX(20%);
        opacity: 0;
    }
    .c-txt__obs {
        display: inline-block;
        transform: translateX(12%);
        opacity: 0;
    }
}
.c-ttl__sec {
    overflow: hidden;
    span {
        &:nth-child(1) {
            transform: translateY(0%);
        }
        &:nth-child(2) {
            transform: translateY(0%);
        }
        &:nth-child(3) {
            transform: translateY(0%);
        }
        &:nth-child(4) {
            transform: translateY(0%);
        }
        &:nth-child(5) {
            transform: translateY(0%);
        }
        &:nth-child(6) {
            transform: translateY(0%);
        }
        &:nth-child(7) {
            transform: translateY(0%);
        }
        &:nth-child(8) {
            transform: translateY(0%);
        }
    }
    &::after {
        transform: scaleX(0);
        transform-origin: left;
    }
}


.is-scroll {
    .p-header__wrapper {
        height: 8rem;
        transition:
            height .4s cubic-bezier(.46,.11,.04,.96),
        ;
    }
}
.p-header__wrapper {
    height: 10rem;
    transition:
        height .8s cubic-bezier(.46,.11,.04,.96),
    ;
}

.is-scroll__obs {
    .u-img__bg-def {
        position: relative;
        // transform: scaleX(1);
        transform: scaleY(1);
        transition:
            transform 1.2s cubic-bezier(.46,.11,.04,.96),
        ;
        &::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            background-color: $color-key;
            transform: scaleX(0);
            // transform: scaleY(0);
            opacity: 0;
            transition:
                transform .8s 1s cubic-bezier(.5,.06,.06,.95),
                opacity .8s 1s,
            ;
            // transform-origin: bottom;
            transform-origin: left;
        }
    }
    .p-producer-gallery__img {
        &:nth-child(1) {
            .p-producer-gallery__img-item {
                transform: rotate(-4deg) translateX(0rem);
                transition:
                    transform 1.6s cubic-bezier(.5,.06,.06,.95)
                ;
            }
        }
        &:nth-child(2) {
            .p-producer-gallery__img-item {
                transform: rotate(-2deg) translateX(0rem);
                transition:
                    transform 1.2s cubic-bezier(.5,.06,.06,.95)
                ;
            }  
        }
        &:nth-child(3) {
            .p-producer-gallery__img-item {
                transform: rotate(3deg) translateX(0rem);
                transition:
                    transform 1s cubic-bezier(.5,.06,.06,.95)
                ;
            }
        }
        &:nth-child(4) {
            .p-producer-gallery__img-item {
                transform: rotate(5deg) translateX(0rem);
                transition:
                    transform 1.6s cubic-bezier(.5,.06,.06,.95),
                ;
            }
        }
    }
    .c-ttl__sec {
        // span {
        //     content: attr(data-ttl);
        //     // color: pink;
        // }
        span {
            // position: relative;
            &:nth-child(1) {
                transform: translateY(-85%);
                transition:
                    transform .2s .8s,
                ;
            }
            &:nth-child(2) {
                transform: translateY(-85%);
                transition:
                    transform .4s .8s,
                ;
            }
            &:nth-child(3) {
                transform: translateY(-85%);
                transition:
                    transform .6s .8s,
                ;
            }
            &:nth-child(4) {
                transform: translateY(-85%);
                transition:
                    transform .8s .8s,
                ;
            }
            &:nth-child(5) {
                transform: translateY(-85%);
                transition:
                    transform 1s .8s,
                ;
            }
            &:nth-child(6) {
                transform: translateY(-85%);
                transition:
                    transform 1.2s .8s,
                ;
            }
            &:nth-child(7) {
                transform: translateY(-85%);
                transition:
                    transform 1.4s .8s,
                ;
            }
            &:nth-child(8) {
                transform: translateY(-85%);
                transition:
                    transform 1.6s .8s,
                ;
            }
        }
        [data-ttl]::after {
            position: absolute;
            top: 85%;
            left: 0;
            content: attr(data-ttl);
        }
        &::after {
            transform: scaleX(1);
            transition:
                transform 2s 1s cubic-bezier(.5,.06,.06,.95),
            ;
        }
    }

    .p-top-msg__body-img-item__main {
        transform: translate3d(0rem, 34rem, 0);
        transition:
            transform 1.4s cubic-bezier(.5,.06,.06,.95),
        ;
    }
    .p-top-msg__body-img-item__sub {
        transform: translate3d(16rem, 10rem, 0);
        transition:
            transform 1s cubic-bezier(.5,.06,.06,.95),
        ;
    }

    .c-ttl__obs {
        transform: translateX(0%);
        opacity: 1;
        transition:
            transform 1.6s cubic-bezier(.5,.06,.06,.95),
            opacity .8s,
        ;
    }
    .c-txt__obs {
        transform: translateX(0%);
        opacity: 1;
        transition:
            transform 1.6s .2s cubic-bezier(.5,.06,.06,.95),
            opacity 1.4s .2s,
        ;
    }
}


// load
.js-load {
    .p-top-fv__wrapper {
        background-size: 120%;
    }
    .p-common-fv__img-item {
        transform: scale(1.1);
    }
    .p-common-fv__msg-ttl {
        position: relative;
        overflow: hidden;
        .p-common-fv__msg-ttl__main {
            display: inline-block;
            &:nth-child(1) {
                transform: translateY(0%);
            }
            &:nth-child(2) {
                transform: translateY(0%);
            }
            &:nth-child(3) {
                transform: translateY(0%);
            }
            &:nth-child(4) {
                transform: translateY(0%);
            }
            &:nth-child(5) {
                transform: translateY(0%);
            }
            &:nth-child(6) {
                transform: translateY(0%);
            }
            &:nth-child(7) {
                transform: translateY(0%);
            }
            &:nth-child(8) {
                transform: translateY(0%);
            }
        }
    }
    .p-common-fv__msg-txt {
        &::before {
            transform: scaleX(0);
            transform-origin: left;
        }
    }
}


.is-load {
    .p-top-fv__wrapper {
        background-size: 100%;
        transition:
            background-size 4.2s cubic-bezier(.5,.06,.06,.95),
        ;
    }
    .p-common-fv__img-item {
        transform: scale(1);
        transition:
            transform 4.2s cubic-bezier(.5,.06,.06,.95),
        ;
    }
    .p-common-fv__msg-ttl {
        .p-common-fv__msg-ttl__main {
            &:nth-child(1) {
                transform: translateY(-85%);
                transition:
                    transform .3s .2s,
                ;
            }
            &:nth-child(2) {
                transform: translateY(-85%);
                transition:
                    transform .5s .2s,
                ;
            }
            &:nth-child(3) {
                transform: translateY(-85%);
                transition:
                    transform .7s .2s,
                ;
            }
            &:nth-child(4) {
                transform: translateY(-85%);
                transition:
                    transform .9s .2s,
                ;
            }
            &:nth-child(5) {
                transform: translateY(-85%);
                transition:
                    transform 1.1s .2s,
                ;
            }
            &:nth-child(6) {
                transform: translateY(-85%);
                transition:
                    transform 1.3s .2s,
                ;
            }
            &:nth-child(7) {
                transform: translateY(-85%);
                transition:
                    transform 1.5s .2s,
                ;
            }
            &:nth-child(8) {
                transform: translateY(-85%);
                transition:
                    transform 1.7s .2s,
                ;
            }
        }
        [data-ttl]::after {
            position: absolute;
            top: 85%;
            left: 0;
            content: attr(data-ttl);
        }
    }
    .c-ttl__load {
        transform: translateX(0%);
        opacity: 1;
        transition:
            transform 1.6s .4s cubic-bezier(.5,.06,.06,.95),
            opacity 1.6s .4s,
        ;
        &:nth-child(2) {
            transform: translateX(0%);
            opacity: 1;
            transition:
                transform 1.6s .8s cubic-bezier(.5,.06,.06,.95),
                opacity 1.6s .8s,
            ;
        }
    }
    .p-top-fv__msg-txt {
        transform: translateX(0%);
        opacity: 1;
        transition:
            transform 1.6s 1s cubic-bezier(.5,.06,.06,.95),
            opacity 1.6s 1s,
        ;
    }
    .p-common-fv__msg-txt {
        &::before {
            transform: scaleX(1);
            transition:
                transform 1.8s .4s cubic-bezier(.5,.06,.06,.95),
            ;
        }
    }
}