.u-mt__section {
    margin: 150px 0 0;
}


.u-mt__section-inner {
    margin: 68px 0 0;
}









@media screen and (max-width:768px) {
    .u-mt__section {
        // margin: 150px 0 0;
    }
    
    
    .u-mt__section-inner {
        margin: 36px 0 0;
    }
} 