.p-top-fv {
    background-color: pink;
}
.p-top-fv__wrapper {
    position: relative;
    @include flex();
    align-items: center;
    height: 100vh;
    // margin: 10rem 0 0;
    background-image: url("/asset/img/top/fv-bg.jpeg");
    // background-size: 100%;
    // background-repeat: no-repeat;
    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-color: rgba(0, 0, 0, .5);
    }
}
.p-top-fv__msg {
    z-index: 1;
}
.p-top-fv__msg-ttl {
    display: inline-flex;
    flex-direction: column;
    // margin: 0 0 0 20rem;
    padding: 0 24rem;
    line-height: 2;
    span {
        // font-size: 6rem;
        font-size: 4.8rem;
        color: $color-bg-default;
    }
}









@media screen and (max-width:768px) {
    .p-top-fv {

    }
    .p-top-fv__wrapper {
        position: relative;
        @include flex();
        // justify-content: center;
        align-items: center;
        height: 100vh;
        // margin: 10rem 0 0;
        background-image: url("/asset/img/top/fv-bg.jpeg");
        // background-size: cover;
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            background-color: rgba(0, 0, 0, .5);
        }
    }
    .p-top-fv__msg {
        z-index: 1;
    }
    .p-top-fv__msg-ttl {
        display: inline-flex;
        flex-direction: column;
        // margin: 0 0 0 16rem;
        padding: 0 24rem;
        span {
            font-size: 9rem;
            color: $color-bg-default;
        }
    }
}