.p-header {
    position: fixed;
    top: 0;
    left: 8rem;
    width: calc(100% - 16rem);
    margin: 0 auto;
    z-index: 5;
}
.p-header__wrapper {
    position: relative;
    left: -8rem;
    @include flex();
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100% + 16rem);
    // height: 8rem;
    height: 10rem;
    padding: 0 8rem;
    background-color: $color-bg-default;
    // &::before {
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     width: 10%;
    //     height: 1px;
    //     content: "";
    //     background-color: $color-key;
    // }
}
.p-header__logo {
    width: 8rem;
}
.p-header__logo-link {
    padding: 2rem;
}
.p-header__logo-img {
    width: 100%;
    height: 100%;
}
.p-header__block {
    @include flex();
    flex-direction: row;
    align-items: center;
}
.p-header__target {
    @include flex();
    flex-direction: row;
    margin: 0 0 0 8rem;
    order: 2;
}
.p-header__target-link {
    display: block;
    margin: 0 0 0 2rem;
}
.p-header__target-link-img {
    width: 3.2rem;
}
.p-header__menu {
    order: 1;
}
.p-header__menu-list {
    @include flex();
    flex-direction: row;
}
.p-header__menu-item {
    margin: 0 3rem;
}
.p-header__menu-link {
    padding: 1rem;
    font-size: 1.5rem;
}
.p-header__btn {
    display: none;
    span {

    }
}
.p-header__line {
    position: absolute;
    left: 0;
    bottom: 0;
    // width: 100%;
    height: 1px;
    background-color: $color-key;
}









@media screen and (max-width:768px) {
    .p-header__wrapper {
        height: 24rem;
    }
    .p-header__logo {
        width: 24rem;
        z-index: 1;
    }
    .p-header__block {
        position: absolute;
        top: 24rem;
        right: 0;
        width: 100%;
        background-color: $color-bg-default;
        // visibility: hidden;
    }
    .p-header__target {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 24rem;
        margin: 0;
    }
    .p-header__target-link {
        margin: 0 0 8rem;
    }
    .p-header__target-link-img {
        width: 10rem;
    }
    .p-header__menu {
        @include flex();
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background-color: $color-key;
    }
    .p-header__menu-list {
        flex-direction: column;
        padding: 16rem;
    }
    .p-header__menu-item {
        margin: 0 0 16rem;
    }
    .p-header__menu-link {
        font-size: 8rem;
        color: $color-bg-default;
    }
    .p-header__btn {
        @include flex();
        flex-direction: column;
        justify-content: space-between;
        align-content: space-between;
        width: 12rem;
        height: 6rem;
        z-index: 1;
        span {
            display: block;
            width: 100%;
            height: 1px;
            background-color: $color-key;
        }
    }
}