.p-top-intro__list {
    margin: 0 0 -8rem;
}
.p-top-intro__item {
    @include flex();
    flex-direction: column;
    margin: 0 0 6rem;
    &:last-child {
        margin: 0;
    }
    &:nth-child(even) {
        align-items: flex-end;
    }
}
.p-top-intro__item-img {
    width: 100%;
}
.p-top-intro__item-img-item {
    width: 100rem;
    height: 56rem;
}
.p-top-intro__item-content {
    width: 56rem;
    padding: 6rem;
    background-color: $color-bg-default;
    z-index: 1;
}
.p-top-intro__item-content-ttl {
    margin: 0 0 2rem;
    span {
        font-size: 3.6rem;
        letter-spacing: .4rem;
    }
}


// 里芋
.p-top-intro__item__imo {
    .p-top-intro__item-img {
        margin: 0 0 0 12rem;
    }
    .p-top-intro__item-img-item {
        background-image: url("/asset/img/top/intro-imo.jpeg");
    }
    .p-top-intro__item-content {
        margin: -24rem 0rem 0 -8rem;
    }
}

// ねぎ
.p-top-intro__item__negi {
    .p-top-intro__item-img {
        margin: 0 12rem 0 0;
    }
    .p-top-intro__item-img-item {
        background-image: url("/asset/img/top/intro-negi.jpeg");
    }
    .p-top-intro__item-content {
        margin: -24rem -8rem 0 0;
    }
}









@media screen and (max-width:768px) {
    .p-top-intro__item-img-item {
        width: 100%;
        height: 88rem;
    }
    .p-top-intro__item-content {
        width: 136rem;
        padding: 12rem;
    }
    .p-top-intro__item-content-ttl {
        margin: 0 0 3rem;
        span {
            font-size: 7.2rem;
        }
    }
    
    
    // 里芋
    .p-top-intro__item__imo {
        .p-top-intro__item-img {
            margin: 0;
        }
        .p-top-intro__item-content {
            margin: -16rem 0 0;
        }
    }

    // ねぎ
    .p-top-intro__item__negi {
        .p-top-intro__item-img {
            margin: 0;
        }
        .p-top-intro__item-content {
            margin: -16rem 0 0;
        }
    }
    
}