.p-intro-feature__item {
    @include flex();
    flex-direction: row;
    align-items: center;
    &:nth-child(even) {
        margin: 0  0 6rem;
    }
}
.p-intro-feature__item__imo {
    .p-intro-feature__item-contnt {
        width: 56rem;
        // width: 72rem;
        margin: 0 8rem 0 16rem;
        order: 1;
    }
    .p-intro-feature__item-img {
        order: 2;
    }
    &:nth-child(1) {
        .p-intro-feature__item-img-item {
            background-image: url("/asset/img/intro/feature-imo-1.jpeg");
        }
    }
    &:nth-child(3) {
        .p-intro-feature__item-img-item {
            background-image: url("/asset/img/intro/feature-imo-2.jpeg");
        }
    }
    &:nth-child(5) {
        .p-intro-feature__item-img-item {
            background-image: url("/asset/img/intro/feature-imo-3.jpeg");
        }
    }
}
.p-intro-feature__item__negi {
    .p-intro-feature__item-contnt {
        width: 56rem;
        // width: 72rem;
        margin: 0 16rem 0 8rem;
    }
    &:nth-child(2) {
        .p-intro-feature__item-img-item {
            background-image: url("/asset/img/intro/feature-negi-1.jpeg");
        }
    }
    &:nth-child(4) {
        .p-intro-feature__item-img-item {
            background-image: url("/asset/img/intro/feature-negi-2.jpeg");
        }
    }
    &:nth-child(6) {
        .p-intro-feature__item-img-item {
            background-image: url("/asset/img/intro/feature-negi-3.jpeg");
        }
    }
}
.p-intro-feature__item__1 {
    .p-intro-feature__item-contnt {
        margin: 0 0 0 4rem;
        order: 2;
    }
    .p-intro-feature__item-img {
        order: 1;
    }
}
.p-intro-feature__item__2 {
    .p-intro-feature__item-contnt {
        margin: 0 4rem 0 0;
        order: 1;
    }
    .p-intro-feature__item-img {
        order: 2;
    }
}
.p-intro-feature__item__3 {
    .p-intro-feature__item-contnt {
        margin: 0 0 0 4rem;
        order: 2;
    }
    .p-intro-feature__item-img {
        order: 1;
    }
}
.p-intro-feature__item-contnt {
    margin: 0 4rem 0 8rem;
}
.p-intro-feature__item-content-ttl {
    margin: 0 0 2rem;
    span {
        font-size: 3.4rem;
    }
}
.p-intro-feature__item-content-txt {
    margin: 0 0 0 2rem;
    line-height: 2.2;
}
.p-intro-feature__item-img-item {
    width: 80rem;
    height: 40rem;
}









@media screen and (max-width:768px) {
    .p-intro-feature__item {
        flex-direction: column;
        &:nth-child(even) {
            margin: 8rem 0 14rem;
        }
    }
    .p-intro-feature__item__imo {
        .p-intro-feature__item-img {
            // margin: 0 0 0 24rem;
            margin: 0 0 0 16rem;
            order: 1;
        }
        .p-intro-feature__item-contnt {
            width: 128rem;
            padding: 4rem;
            margin: -10rem 10rem 0;
            background-color: $color-bg-default;
            order: 2;
            z-index: 0;
        }
    }
    .p-intro-feature__item__negi {
        .p-intro-feature__item-img {
            // margin: 0 24rem 0 0;
            margin: 0 16rem 0 0;
        }
        .p-intro-feature__item-contnt {
            // margin: -2rem 10rem 0;
            width: 128rem;
            // padding: 6rem 4rem;
            padding: 4rem;
            margin: -10rem 10rem 0;
            background-color: $color-bg-default;
            order: 2;
            z-index: 0;
        }
    }
    .p-intro-feature__item__2 {
        .p-intro-feature__item-contnt {
            order: 2;
        }
        .p-intro-feature__item-img {
            order: 1;
        }
    }
    .p-intro-feature__item-contnt {
        margin: -6rem 4rem 0 8rem;
    }
    .p-intro-feature__item-content-ttl {
        display: inline-block;
        padding: 1rem 3rem;
        // padding: 4rem 8rem 2rem 0rem;
        background-color: $color-bg-default;
        span {
            font-size: 7.8rem;
        }
    }
    .p-intro-feature__item-content-txt {
        margin: 0 0 0 6rem;
        line-height: 2;
    }
    .p-intro-feature__item-img-item {
        // width: 136rem;
        // height: 64rem;
        width: 144rem;
        height: 76rem;
    }
}