.js-common-section__border {

}
  .c-section__border {
    position: relative;
    padding: 60px 0 0;
    // margin: 0 300px;
    border-top: 1px solid $color-page-border;
    &::before {
        position: absolute;
        top: -2px;
        left: 0;
        // width: 30px;
        width: 0;
        height: 2px;
        content: "";
        background-color: $color-text-notice;
    }
  }
// アニメーション
.js-scroll__point-slide {
  .c-section__border {
    &::before {
        width: 30px;
        transition:
          width .4s 1.4s cubic-bezier(.26,.11,.06,.95)
        ;
    }
  }
}








@media screen and (max-width:768px) {
  .c-section__border {
    position: relative;
    padding: 44px 0 0;
    &::before {
        // width: 0;
        width: 30px;
        left: calc(50% - 15px);
        right: calc(50% - 15px);
        transform: scaleX(0);
    }
  }
  // アニメーション
  .js-scroll__point-slide {
    .c-section__border {
      &::before {
          // width: 30px;
          transform: scaleX(1);
          transform-origin: center;
          transition:
            // width .8s .4s cubic-bezier(.26,.11,.06,.95),
            transform .4s 1.4s cubic-bezier(.26,.11,.06,.95),
          ;
      }
    }
  }
}
