.p-top-purchase__list {
    @include flex();
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.p-top-purchase__item {
    margin: 0 4rem 4rem 0;
    &:nth-child(even) {
        margin: 0 0 4rem 0;
    }
}
.p-top-purchase__item-img {
    position: relative;
    z-index: -1;
    background-color: pink;
    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
    }
}
.p-top-purchase__item-img-item {
    width: 42em;
    height: 28rem;
}
.p-top-purchase__item-content {
    @include flex();
    flex-direction: row;
    align-items: flex-end;
    margin: -4rem 8rem 0 0rem;
    padding: 2rem 4rem 1rem;
    background-color: $color-bg-default;
}
.p-top-purchase__item-content-ttl {
    margin: 0 4rem 0 0;
    font-size: 2.4rem;
}
.p-top-purchase__item-content-info-num {
    font-size: 1.6rem;
}


.p-top-purchase__item__imo {
    .p-top-purchase__item-img-item {
        background-image: url("/asset/img/top/purchase-imo.jpeg");
    }
}

.p-top-purchase__item__negi {
    .p-top-purchase__item-img-item {
        background-image: url("/asset/img/top/purchase-negi.jpeg");
    }
}









@media screen and (max-width:768px) {
    .p-top-purchase__item {
        margin: 0 6rem 4rem 0;
    }
    .p-top-purchase__item-img-item {
        width: 66em;
        height: 44rem;
    }
    .p-top-purchase__item-content {
        margin: -4rem 4rem 4rem;
    }
    .p-top-purchase__item-content-ttl {
        font-size: 5.4rem;
    }
    .p-top-purchase__item-content-info-num {
        font-size: 4rem;
    }
}