.p-top-msg__wrapper {
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    @include flex();
    flex-direction: column;
    justify-content: center;
    width: 120rem;
    margin: 12rem auto 0;
    // padding: 0 0 6rem;
}
.p-top-msg__header-ttl {
    font-size: 3.2rem;
}
.p-top-msg__body {
    margin: 4rem 6rem 4rem 0;
}
.p-top-msg__body-content-txt {
    font-size: 2rem;
    span {
        display: block;
        margin: 0 0 0 4rem;
    }
}
.p-top-msg__body-img__main {
    position: relative;
    // margin: 0 -16rem 0 0;
    margin: 0 -28rem 0 0;
    &::before {
        position: absolute;
        bottom: -4rem;
        left: -20rem;
        width: 40rem;
        height: 32rem;
        content: "";
        background-color: $color-key;
        z-index: -1;
    }
}
.p-top-msg__body-img-item__main {
    position: relative;
    width: 48rem;
    // margin: 34rem -14rem -6rem 0rem;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("/asset/img/top/msg-main.jpg");
    // transform: translate3d(0rem, 34rem, 0);
    transform: translate3d(-20rem, 28rem, 0);
    // &::before {
    //     position: absolute;
    //     bottom: -4rem;
    //     left: -20rem;
    //     width: 40rem;
    //     height: 32rem;
    //     content: "";
    //     background-color: $color-key;
    //     z-index: -1;
    // }
}
.p-top-msg__body-img-item__sub {
    position: relative;
    width: 20rem;
    // margin: 10rem -16rem 0rem 0rem;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("/asset/img/top/msg-sub.jpg");
    // transform: translate3d(16rem, 10rem, 0);
    transform: translate3d(0, 30rem, 0);
}









@media screen and (max-width:768px) {
    .p-top-msg__wrapper {
        width: 140rem;
        margin: 24rem auto 0;
        padding: 0;
    }
    .p-top-msg__header-ttl {
        font-size: 6.2rem;
    }
    .p-top-msg__body-content-txt {
        font-size: 4rem;
    }
    .p-top-msg__body-img__main {
        margin: 0 -44rem 0 0;
        &::before {
            bottom: 28rem;
            width: 26rem;
            left: -10rem;
            height: 72rem;
        }
    }
    .p-top-msg__body-img-item__main {
        width: 64rem;
        margin: 50rem -24rem 0rem 0rem;
        &::before {
            bottom: 18rem;
            width: 48rem;
            height: 72rem;
        }
    }
    .p-top-msg__body-img-item__sub {
        width: 32rem;
        margin: 44rem -36rem 0rem 0rem;
    }
}